---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getFilteredArticles } from "../utils/contentHelpers"

const url_imagen = "/img/articulos"

let  articles = await getFilteredArticles();

// Ordenar artículos por fecha de creación, del más reciente al más antiguo
articles = articles.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout title="Artículos" borde={true}>
  <h1>ARTÍCULOS</h1>
  <div class="articles-grid">
    {articles.map((article, index) => (
      <a 
        href={`/articulos/${article.slug}`} 
        class={`article-card ${index === 0 ? 'featured' : ''}`}
      >
        <img src={`${url_imagen}/${article.data.image}`} alt={article.data.title} />
        <div class="article-info">
          <p>{article.data.title}</p>
        </div>
      </a>
    ))}
  </div>
</BaseLayout>

<style>
  h1 {
    text-align: center;
    color: var(--color-primario);
    margin-bottom: 20px;
  }

  .articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .article-card {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    text-decoration: none;
  }

  .article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .article-card:hover img {
    transform: scale(1.1);
  }

  .article-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
  }

  /* Estilo para el artículo destacado */
  .featured {
    grid-column: span 2;
    grid-row: span 2;
  }

  .featured img {
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .featured {
      grid-column: span 1;
      grid-row: span 1;
    }
  }
</style>
