---
// Definir las props que el componente `Btn` recibirá
interface BtnProps {
  text: string;
  color?: string;
  backgroundColor?: string;
  fontSize?: string;
  url?: string;
  additionalClasses?: string;
  id?: string;
}

const { text, url, color = '#ffffff', backgroundColor = '#007bff', fontSize = '16px', additionalClasses = '', id = '' } = Astro.props as BtnProps;
---

<a id={id} href={url} class={`baseButton hover ${additionalClasses}`} style={`color: ${color}; background-color: ${backgroundColor}; font-size: ${fontSize};`}>
  {text}
</a>

<style>
  .baseButton {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
</style>
