---
import ModuloCurso from './ModuloCurso.astro';
import InforCursoContainer from './InfoCursoContainer.astro';

import type { Curso } from '../types/cursoTypes';

const curso: Curso = Astro.props.curso;

const iconos = [
  { icono: "icono-1.svg", colorIcon: "#FDC115" },
  { icono: "icono-2.svg", colorIcon: "#F46822" },
  { icono: "icono-3.svg", colorIcon: "#DB1A5D" },
  { icono: "icono-4.svg", colorIcon: "#643090" },
];


---

<div class="curso-container">
  <!-- Header del curso -->
  <div class="curso-header">
    <div class="curso-header-inner">
      <h1 class="curso-title">{curso?.NOMBRE}</h1>
      <p class="curso-codigo">Código Sence: {curso?.CODIGO}</p>
    </div>
    <div class="curso-info">
      <img src="/img/portada_empresa.webp" alt="Imagen del Curso">
      <div class="curso-metadata">
        <p class="curso-tipo">{curso?.TIPO}</p>
        <p class="curso-horas">{curso?.HORAS_CRONOLOGICAS} horas cronológicas</p>
        <p class="curso-descripcion">{curso?.COMPETENCIA_DESARROLLAR}</p>
      </div>
    </div>
  </div>

  <!-- Modulos del curso -->
  <div class="modulos-container">
    <h3>Modulos</h3>
      {curso.MODULO.map((modulo, index) => (
        <ModuloCurso 
        key={index} 
        modulo={modulo} 
        className={index % 2 === 0 ? 'right' : 'left'} 
        icon={iconos[index % iconos.length].icono} // Utiliza módulo del índice y ajusta según la longitud de la lista para evitar errores
        colorIcon={iconos[index % iconos.length].colorIcon} />
      ))}
  </div>

  <!-- Banner de contacto -->
   <InforCursoContainer />
</div>
<style>

  /* ------------------------------------------- CURSO HEADER */

.curso-header {
  max-width: 800px; /* Ajusta según la anchura deseada */
  min-height: 500px;
  margin: auto;
  padding: 20px; /* Espacio interior */
  color: var(--cec-oscuro); /* Color oscuro para texto */
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Organiza los elementos en una columna */
}


.curso-header-inner {
  text-align: center; /* Centra el contenido textual */
  max-width: 600px; /* Limita el ancho máximo para el título y el código */
  padding: 0 15%;
  margin-bottom: 50px;
}


.curso-title {
  font-size: 24px; /* Tamaño de fuente para el título */
  margin-bottom: 5px; /* Espacio debajo del título */
}

.curso-codigo {
  font-size: 21px; /* Tamaño de la fuente para el código Sence */
  margin: 0; /* Espacio debajo del código */
}

.curso-info {
  display: flex; /* Distribución en línea para la imagen y los metadatos */
  align-items: center; /* Alineación vertical al centro */
}

.curso-info img {
  width: 40%; /* Ancho de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 20px; /* Espacio entre la imagen y los metadatos */
}

.curso-metadata {
  width: 60%; /* Ancho del área de metadatos */
}

.curso-tipo {
  background-color: #FFD600; /* Color amarillo para el fondo */
  font-weight: 600;
  font-size: 16px; /* Tamaño de la fuente ajustado */
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  padding: 2px 20px 2px 1px; /* Padding para dar más espacio alrededor del texto */
  display: inline-block; /* Hace que el fondo sólo cubra el texto */
  margin: 0 0 5px 0; /* Espacio debajo del elemento */
  text-align: center; /* Centra el texto dentro del bloque */
  width: auto; /* Ancho automático para ajustarse al contenido */
}

.curso-horas {
  margin: 0;
  font-weight: 600;
}

.curso-descripcion {
  padding-right: 20%;
  font-size: 17px;
}

/* ----------------------------------- MODULO CONTAINER */
.modulos-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #17417D 0%, #448FCD 100%);
}

.modulos-container h3 {
  text-align: center; /* Centra el texto horizontalmente */
  color: var(--color-secundario);
  background-color: var(--color-primario); /* Color de fondo del pseudo-elemento */
  position: relative; /* Posición relativa para posicionar pseudo-elementos respecto a este */
  margin:20px 0; /* Elimina márgenes por defecto */
  left: 50%; /* Posiciona el inicio del pseudo-elemento en el centro del h3 */
  transform: translateX(-50%); /* Centra el pseudo-elemento exactamente */
  width: 50%; /* Ancho del pseudo-elemento como porcentaje del ancho del h3 */ 
}

@media (max-width: 600px) {
  .curso-info img {
    display: none; /* Esconde la imagen */
  }

  .curso-metadata {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    text-align: center; /* Centra el texto */
    margin: auto; /* Alinea automáticamente al centro si es necesario */
  }

  .curso-header-inner,
  .curso-metadata,
  .curso-descripcion {
    padding: 0; /* Remueve cualquier padding que pueda afectar el centrado */
  }
}


</style>