---

import FeatureItem from "./FeatureItem.astro";
// Definir datos para los features si es necesario o importarlos
const path_icon = '../public/img/icons'
const features = [
  { icon: `${path_icon}/icon-verified-user.svg`, title: 'Formación a medida', description: 'Desarrollamos cursos a medida adecuándonos a las necesidades particulares de nuestros clientes.' },
  { icon: `${path_icon}/icon-rocket.svg`, title: 'Intuitivo e Innovador', description: 'Le proporcionamos un modelo de aprendizaje intuitivo e innovador.' },
  { icon: `${path_icon}/icon-report.svg`, title: 'Éxito Profesional', description: 'Lo invitamos a conocer nuestra plataforma para que trabajemos juntos por el crecimiento de sus trabajadores a través de la formación online.' },
];
---

<section class="features">
  {features.map(feature => (
    <FeatureItem icon={feature.icon} title={feature.title} description={feature.description} />
  ))}
</section>

<style>
.features {
  display: flex;
  justify-content: center;
  padding: 40px 0; /* Añade más espacio vertical */
  background-color: var(--color-secundario);
}
</style>