---
// Importa cualquier otro componente si es necesario
import CecLogo from './CecLogo.astro';


const path_img = '../public/img'

const footerData = {
  links: [
    { name: 'SENCE', url: 'https://sence.gob.cl/' },
    { name: 'Universidad Católica del Maule', url: 'https://portal.ucm.cl/' },
    { name: 'Icontec', url: 'https://www.icontec.org/' }
  ],
  certification: {
    name: 'Certificado NCH 2728:2015',
    logo: `${path_img}/icontec.svg`,
    code: 'OC - CEN8799'
  }
};
---

<footer class="footer-container">
  <div class="links-section">
    <h3>ENLACES DE INTERÉS</h3>
    <ul>
      {footerData.links.map(link => (
        <li><a href={link.url} target="_blank" rel="noopener noreferrer">{link.name}</a></li>
      ))}
    </ul>
    <CecLogo/>
  </div>
  <div class="certification-section">
    <h3>{footerData.certification.name}</h3>
    <img src={footerData.certification.logo} alt="Certificado Logo" />
    <p>{footerData.certification.code}</p>
  </div>
</footer>

<style>
.footer-container {
    display: flex;
    align-items: center; /* Asegura que los contenidos estén alineados verticalmente al centro */
    justify-content: space-between; /* Mantiene el espacio entre las secciones */
    height: 250px; /* Ajusta según necesites */
    padding: 0 10%; /* Reduce el padding para acercar los elementos */
    background-color: #062C5B; /* Ajusta al color azul del diseño */
    color: var(--color-secundario);
    font-size: 14px;
}

.links-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Solo cambia la alineación del texto en esta sección */
}

.links-section h3 {
    text-align: left; /* Alinea el texto del título a la izquierda */
    margin-left: 20px;
}

.links-section ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Alinea los enlaces justo debajo del encabezado sin margen extra */

}

.links-section li {
    margin-bottom: 10px;  /* Aumenta el margen entre enlaces */
}

.links-section a {
    color: var(--color-secundario);
    font-size: 10px;
    margin-left: 20px;
}

.certification-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente en esta sección */
}

.certification-section img {
    width: 83px; /* Ajusta el tamaño según necesidad */
    margin: 10px 0;
}

.certification-section p {
    margin: 0;
}

.CecLogo {
    margin-top: 30px;  /* Aumenta el espacio para bajar el logo */
    align-self: flex-start; /* Alineación a la izquierda dentro de la sección de enlaces */
}
</style>