---
// Importar el archivo CSS
import styles from '../styles/Header.module.css';
import BtnAulaVirtual from './BtnAulaVirtual.astro';
---
<header class={styles.header}>
  <div class={styles.logo}>
    <a href="/">
      <img src="/public/img/logo.webp" alt="Logo CSC del Maule" />
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/" class={styles.link}>Inicio</a></li>
      <li><a href="/nosotros" class={styles.link}>Nosotros</a></li>
      <li><a href="/cursos" class={styles.link}>Cursos</a></li>
      <li><a href="/articulos" class={styles.link}>Artículos</a></li>
      <li><a href="/contacto" class={styles.link}>Contacto</a></li>
    </ul>
  </nav>
  <BtnAulaVirtual/>
</header>
