---
// Simulando la lista de logos como propiedades; reemplaza esto según cómo obtengas tus datos.
const path_img = "/img/partners";

const partners = [
  { logo: `${path_img}/Mask group.webp`, name: "Mask Group" },
  { logo: `${path_img}/ucm.webp`, name: "UCM" },
  { logo: `${path_img}/utalca.webp`, name: "U. de Talca" },
  { logo: `${path_img}/lab agricola ucm.webp`, name: "LABORATORIO UCM" },
  { logo: `${path_img}/acalis.webp`, name: "Acalis" },
  { logo: `${path_img}/Adm San Miguel.webp`, name: "Administradora San Miguel del Maule" },
  { logo: `${path_img}/ahorrocoop.webp`, name: "Ahorrocoop" },
  { logo: `${path_img}/aurora australis.webp`, name: "Aurora Australis" },
  { logo: `${path_img}/chilfresh.webp`, name: "Chilfresh" },
  { logo: `${path_img}/cocacola embonor.webp`, name: "Coca-Cola Embonor" },
  { logo: `${path_img}/digua.webp`, name: "Digua" },
  { logo: `${path_img}/isa.webp`, name: "ISA" },
  { logo: `${path_img}/IUcm.webp`, name: "IUCM" },
  { logo: `${path_img}/malpo.webp`, name: "Malpo" },
  { logo: `${path_img}/maristas.webp`, name: "Maristas" },
  { logo: `${path_img}/molinera.webp`, name: "Molinera" },
  { logo: `${path_img}/mutual.webp`, name: "Mutual" },
  { logo: `${path_img}/orskov.webp`, name: "Orskov Foods" },
  { logo: `${path_img}/rucaray.webp`, name: "Rucaray" },
  { logo: `${path_img}/sugal.webp`, name: "Sugal Group" },
  { logo: `${path_img}/tape.webp`, name: "Tape Willamette" },
  { logo: `${path_img}/U de la frontera.webp`, name: "U de la Frontera" }
];


// Concatenando la lista de logos duplicada
const logosDuplicados = partners.concat(partners);
---

<div class="partners-container">
  <h2>HAN ELEGIDO TRABAJAR CON CEC del Maule</h2>
  <div class="slider-container">
    <div class="logos">
      {
        logosDuplicados.map((partner) => (
          <div class="logo-item">
            <img
              src={partner.logo}
              alt={`Logo de ${partner.name}`}
              class="partner-logo"
            />
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .partners-container {
    width: 100%;
    background-image: linear-gradient(to bottom, #17417d 0%, #448fcd 100%);
    color: var(--color-secundario);
    text-align: center;
    padding: 20px 0;
  }

  .partners-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    padding: 0 20%;
  }

  .slider-container {
    height: auto;
    margin: auto;
    overflow: hidden;
    width: 50vw;
  }

  .logos {
    display: flex;
    -moz-animation: slider 90s linear infinite;
    -webkit-animation: slider 90s linear infinite;
    animation: slider 90s linear infinite;
    width: max-content;
    justify-content: space-around; /* Distribuye los logos equitativamente */
    align-items: center;
    flex-wrap: wrap; /* Permite envolver en pantallas más pequeñas */
    padding: 0 20%; /* Reduce el área utilizada por los logos */
  }

  .logo-item {
    flex: 0 0 auto;
    padding: 10px 18px;
  }

  .partner-logo {
    max-width: 120px;
    height: auto;
  }

  /* Animación de desplazamiento */
  @keyframes slider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
<script>
  let slider = document.querySelector(".logos");
  if (slider) {
    slider.innerHTML += slider.innerHTML;
  }
</script>
